name: Deploy Backend

on:
  push:
    branches:
      - main
      - dev

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to VPS
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            if [ "${{ github.ref_name }}" = "main" ]; then
              cd /home/debian/kyx/kyx-prod/backend
              PM2_APP="prod-nestjs"
            else
              cd /home/debian/kyx/kyx-preprod/backend
              PM2_APP="preprod-nestjs"
            fi

            echo "▶ Pull du code..."
            git pull origin ${{ github.ref_name }}

            echo "▶ Install & Build..."
            yarn
            yarn run build

            echo "▶ Redémarrage PM2..."
            pm2 restart $PM2_APP --update-env

            echo "✅ Backend déployé !"